<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Livvic&display=swap" rel="stylesheet">

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/media/icons/huesito.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
        Huellitas        
      
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/lista_perritos/">
              <img src="/media/icons/dog.svg" alt="Logo" width="25" height="25" class="d-inline-block align-text-top me-2">
              Perritos en Adopción
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/veterinarias/">
              <img src="/media/icons/vet.svg" alt="Logo" width="25" height="25" class="d-inline-block align-text-top me-2">
              Veterinarias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lista_cuidadores/">
              <img src="/media/icons/cuidador.svg" alt="Logo" width="25" height="25" class="d-inline-block align-text-top me-2">
              Cuidadores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/donaciones/">
              <img src="/media/icons/donation.svg" alt="Logo" width="25" height="25" class="d-inline-block align-text-top me-2">
              Donaciones</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  